{% extends "layout.html" %}
{% block content %}
    <section class='pt-2 pb-4 text-info'
             style='border-style: solid;
                    border-width: 1px;
                    border-radius: 15px;
                    border-color: rgb(0,205,239);
                    background-color: rgb(10,10,45)'>
      <h1>QR Code Generator</h1>
      <form class="m-2" method="POST">
    {% if qrstring %}
        <input name="text" placeholder="Paste Another String & Go ->">
        <input type="submit" class='btn btn-info btn-sm' value="Go">
      </form>
    </section>

    <section class='mt-4 bg-light text-dark'
             style='padding:10px;
                    border-radius: 15px;'>
        <div class='bg-info text-dark'
             style='border-radius: 5px;'>
          <p><span class="fst-italic">Your QR code is</span></p>
        </div>
        <img src='{{qrcode(qrstring) }}'
             style='max-width:350px'>
         <div class='bg-info text-dark mt-3'
             style='border-radius: 5px;'>
          <p><span class="fst-italic">{{qrstring}}</span> </p>
        </div>
    </section>
    {% else %}
        <input name="text" placeholder="Paste A String & Go ->">
        <input type="submit" class='btn btn-info btn-sm' value="Go">
      </form>
    </section>
    {% endif %}

{% endblock content %}


